<body th:fragment="footer">

<!-- Footer Section Begin -->
<footer id="mais-informacoes" class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a href="./index.html"><img src="/img/logo.png" alt=""></a>
          </div>
          <ul>
            <li>Endereço: R. Jaguarari, 2454 - Lagoa Nova, Natal - RN</li>
            <li>CEP: 59062-500</li>
            <li>Telefone: (84) 99868-4422</li>
            <li>Email: cecafestore@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <div
            style="text-align: justify;
            border: solid 3px #8d8d25;
            padding: 10px; background-color: #efef0e;
            border-radius: 15px;"
          >
            Sistema desenvolvido para a disciplina de
            Projeto Áplicados I, do curso de Tecnologia
            em Análise e Desenvolvimento de Sistemas -
            Escola Agrícola de Jundiaí,
            Universidade Federal do Rio Grande do Norte.
          </div>
        </div>
<!--        <div class="footer__widget">-->
<!--          <h6>Mais informações</h6>-->
<!--          <ul>-->
<!--            <li><a href="#">Sobre nós</a></li>-->
<!--            <li><a href="#">Sobre nossa loja</a></li>-->
<!--            <li><a href="#">Compra segura</a></li>-->
<!--            <li><a href="#">Informações de delivery</a></li>-->
<!--            <li><a href="#">Política de Privacidade</a></li>-->
<!--            <li><a href="#">Nossa localização</a></li>-->
<!--          </ul>-->
<!--          <ul>-->
<!--            <li><a href="#">Nossos objetivos</a></li>-->
<!--            <li><a href="#">Nossos serviços</a></li>-->
<!--            <li><a href="#">Projetos</a></li>-->
<!--            <li><a href="#">Contato</a></li>-->
<!--            <li><a href="#">Inovação</a></li>-->
<!--            <li><a href="#">Avaliações</a></li>-->
<!--          </ul>-->
<!--        </div>-->
      </div>
<!--      <div class="col-lg-4 col-md-12">-->
<!--        <div class="footer__widget">-->
<!--          <h6>Receba promoções por e-mail</h6>-->
<!--          <p>Recebe atualizações por email das nossas promoções</p>-->
<!--          <form action="#">-->
<!--            <input type="text" placeholder="Insira seu e-mail">-->
<!--            <button type="submit" class="site-btn">Assinar</button>-->
<!--          </form>-->
<!--          <div class="footer__widget__social">-->
<!--            <a href="https://www.facebook.com/cecafes/" target="_blank"><i class="fa fa-facebook"></i></a>-->
<!--            <a href="https://twitter.com/cecafesrn" target="_blank"><i class="fa fa-twitter"></i></a>-->
<!--            <a href="https://www.instagram.com/cecafes_rn/" target="_blank"><i class="fa fa-instagram"></i></a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
          <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
<script src="/js/sweetalert2.all.min.js" rel="script"></script>
</body>
