<body th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/"><img src="/img/logo.png" alt=""></a>
    </div>
<!--  Carrinho  -->
<!--    <div class="humberger__menu__cart">-->
<!--        <ul>-->
<!--            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>-->
<!--            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>-->
<!--        </ul>-->
<!--        <div class="header__cart__price">item: <span>$150.00</span></div>-->
<!--    </div>-->
    <div class="humberger__menu__widget">

        <div class="header__top__right__auth">
            <a href="/produtor/form-produtor"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/">Início</a></li>
            <li><a href="/loja">Loja</a></li>
            <li><a href="#">Comercial</a>
                <ul class="header__menu__dropdown">
                    <li><a href="../shop-details-template.html">Venda</a></li>
                    <li><a href="../shoping-cart.html">Compra</a></li>
                    <li><a href="#mais-informacoes">Mais informações</a></li>
                    <li><a href="../blog-details.html">Ajuda</a></li>
                </ul>
            </li>
            <li><a href="../blog.html">Suporte</a></li>
            <li><a href="../contact.html">Contato</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="https://www.facebook.com/cecafes/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/cecafesrn" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/cecafes_rn/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> cecafestore@gmail.com</li>
            <li>Agende já seu pedido</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> cecafestore@gmail.com</li>
                            <li>Agende já o seu pedido</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://www.facebook.com/cecafes/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/cecafesrn" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/cecafes_rn/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="header__top__right__auth">
                            <div sec:authorize="!isAuthenticated()">
                                <a href="/login"><i class="fa fa-user"></i> Entrar</a>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <form th:action="@{/logout}" method="post">
                                    <a onclick="this.parentNode.submit();" style="cursor: pointer" ><i class="fa fa-sign-out"></i> Sair</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Início</a></li>
                        <li><a href="/loja">Loja</a></li>
                        <li><a href="#">Comercial</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="../shop-details-template.html">Venda</a></li>
                                <li><a href="../shoping-cart.html">Compra</a></li>
                                <li><a href="#mais-informacoes">Mais informações</a></li>
                                <li><a href="../blog-details.html">Ajuda</a></li>
                            </ul>
                        </li>
                        <li><a href="../blog.html">Suporte</a></li>
                        <li><a href="../contact.html">Contato</a></li>
                    </ul>
                </nav>
            </div>
            <!--     Botões de carrinho       -->
<!--            <div class="col-lg-3">-->
<!--                <div class="header__cart">-->
<!--                    <ul>-->
<!--                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>-->
<!--                    </ul>-->
<!--                    <div class="header__cart__price">item: <span>$150.00</span></div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Navegação</span>
                    </div>
                    <ul>
                        <li><a th:href="@{/produtor/form-produtor}">Cadastro de Produtor</a></li>
                        <li sec:authorize="hasAnyAuthority('PRODUTOR', 'ADMIN')" ><a th:href="@{/produto/form-produto}">Cadastro de Produto</a></li>
                        <li><a th:href="@{/comprador/form-comprador}">Cadastro de Comprador</a></li>
                        <li sec:authorize="hasAnyAuthority('FUNCIONARIO', 'ADMIN')" ><a th:href="@{/funcionario/form-funcionario}">Cadastro de Funcionário Cecafes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/">
                            <div class="hero__search__categories">
                                Categorias
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="O que você precisa?">
                            <button type="submit" class="site-btn">BUSCAR</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>(84) 99868-4422</h5>
                            <span>Segunda à Sexta</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
