<body th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
<style>
    .activePageHeader {
        color: #7fad39 !important;
    }
</style>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/"><img src="/img/logo.png" alt=""></a>
    </div>
<!--  Carrinho  -->
    <div class="humberger__menu__cart">
        <ul>
            <li><a th:href="@{/comprador/lista-produtos-compra}"><i class="fa fa-shopping-bag"></i> <span class="qtdProdutos">0</span></a></li>
        </ul>
    </div>
    <div class="humberger__menu__widget">
        <div sec:authorize="!isAuthenticated()" class="header__top__right__auth">
            <a href="/login"><i class="fa fa-user"></i> Entrar</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="header__top__right__auth">
            <form th:action="@{/logout}" method="post">
                <a onclick="this.parentNode.submit();" style="cursor: pointer" ><i class="fa fa-sign-out"></i> Sair</a>
            </form>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li><a th:class="${page == 'loja'} ? activePageHeader" href="/loja">Loja</a></li>
            <li><a href="#">Comercial</a>
                <ul class="header__menu__dropdown">
                    <li sec:authorize="hasAnyAuthority('PRODUTOR')" ><a th:href="@{/produto/form-produto}">Venda</a></li>
                    <li sec:authorize="!hasAnyAuthority('PRODUTOR')"><a th:href="@{/loja}">Compra</a></li>
                    <li><a href="#mais-informacoes">Mais informações</a></li>
                    <!--                                <li><a th:href="@{/}">Ajuda</a></li>-->
                </ul>
            </li>
            <li sec:authorize="hasAnyAuthority('PRODUTOR', 'FUNCIONARIO', 'ADMIN')"><a th:class="${page == 'pedido'} ? activePageHeader" th:href="@{/funcionario/gerencia-loja}">Gerenciar Loja</a></li>
            <li sec:authorize="hasAnyAuthority('PRODUTOR')"><a th:href="@{/produtor}">Meus Produtos</a></li>
            <li sec:authorize="!hasAnyAuthority('PRODUTOR', 'FUNCIONARIO')" ><a th:class="${page == 'carrinho'} ? activePageHeader" th:href="@{/comprador/lista-produtos-compra}">Carrinho</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="https://www.facebook.com/cecafes/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/cecafesrn" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/cecafes_rn/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> cecafestore@gmail.com</li>
            <li>Agende já seu pedido</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> cecafestore@gmail.com</li>
                            <li>Agende já o seu pedido</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://www.facebook.com/cecafes/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/cecafesrn" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/cecafes_rn/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="header__top__right__auth">
                            <div sec:authorize="!isAuthenticated()">
                                <a href="/login"><i class="fa fa-user"></i> Entrar</a>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <form th:action="@{/logout}" method="post">
                                    <a onclick="this.parentNode.submit();" style="cursor: pointer" ><i class="fa fa-sign-out"></i> Sair</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a th:class="${page == 'loja'} ? activePageHeader" href="/loja">Loja</a></li>
                        <li><a href="#">Comercial</a>
                            <ul class="header__menu__dropdown">
                                <li sec:authorize="hasAnyAuthority('PRODUTOR')" ><a th:href="@{/produto/form-produto}">Venda</a></li>
                                <li sec:authorize="!hasAnyAuthority('PRODUTOR')"><a th:href="@{/loja}">Compra</a></li>
                                <li sec:authorize="hasAnyAuthority('FUNCIONARIO', 'ADMIN')"><a th:href="@{/pedido/pedidos}">Ver pedidos</a></li>
                                <li><a href="#mais-informacoes">Mais informações</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyAuthority('FUNCIONARIO', 'ADMIN')"><a th:class="${page == 'pedido'} ? activePageHeader" th:href="@{/funcionario/gerencia-loja}">Gerenciar Loja</a></li>
                        <li sec:authorize="hasAnyAuthority('PRODUTOR')"><a th:href="@{/produtor/listar}">Meus Produtos</a></li>
                        <li sec:authorize="hasAnyAuthority('COMPRADOR')"><a th:href="@{/pedido/pedidos}">Meus pedidos</a></li>
                        <li sec:authorize="!hasAnyAuthority('PRODUTOR', 'FUNCIONARIO')" ><a th:class="${page == 'carrinho'} ? activePageHeader" th:href="@{/comprador/lista-produtos-compra}">Carrinho</a></li>
                    </ul>
                </nav>
            </div>
            <!--     Botões de carrinho       -->
            <div class="col-lg-2">
                <div class="header__cart">
                    <ul>
                        <li title="Carrinho" sec:authorize="!hasAnyAuthority('PRODUTOR', 'FUNCIONARIO')" ><a th:href="@{/comprador/lista-produtos-compra}"><i class="fa fa-shopping-bag"></i> <span class="qtdProdutos">0</span></a></li>
                        <li title="Pedidos" class="ml-1" sec:authorize="hasAnyAuthority('FUNCIONARIO', 'ADMIN', 'COMPRADOR')" ><a th:href="@{/pedido/pedidos}" ><i class="fa fa-address-book"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Navegação</span>
                    </div>
                    <ul>
                        <li><a th:href="@{/produtor/form-produtor}">Cadastro de Produtor</a></li>
                        <li sec:authorize="hasAnyAuthority('PRODUTOR', 'ADMIN')" ><a th:href="@{/produto/form-produto}">Cadastro de Produto</a></li>
                        <li><a th:href="@{/comprador/form-comprador}">Cadastro de Comprador</a></li>
                        <li sec:authorize="hasAnyAuthority('FUNCIONARIO', 'ADMIN')" ><a th:href="@{/funcionario/form-funcionario}">Cadastro de Funcionário Cecafes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form method="get" id="busca-form">
                            <input id="busca-input" type="text" placeholder="O que você precisa?">
                            <button id="busca-button" class="site-btn">BUSCAR</button>
                        </form>
                    </div>
                    <div class="hero__seaFrch__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>(84) 99868-4422</h5>
                            <span>Segunda a Sexta</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery-3.3.1.min.js" rel="script"></script>
<script>
    $(document).ready(function () {
        countQtdeProdutos();
    });

    function getCookie(cName) {
        const name = cName + "=";
        const cDecoded = decodeURIComponent(document.cookie); //to be careful
        const cArr = cDecoded.split('; ');
        let res;
        cArr.forEach(val => {
            if (val.indexOf(name) === 0) res = val.substring(name.length);
        })
        return res
    }

    function countQtdeProdutos() {
        const produtos = getCookie('produtos');
        const produtosArray = produtos.split("/");
        let count = 0;
        produtosArray.forEach((produto) => {
            if (produto != '') {
                count++;
            }
        });

        const elements = document.getElementsByClassName('qtdProdutos');

        for (let i = 0; i < elements.length; i++) {
            const element = elements.item(i);
            element.innerHTML = count;
        }
    }
</script>
<script src="/js/sweetalert2.all.min.js" rel="script"></script>
<script>
    document.getElementById('busca-button').addEventListener('click', (e) => {
        e.preventDefault();
        const value = document.getElementById('busca-input').value
        window.location.href = "/busca-produto?nome=" + value;
    });
</script>
</body>
