<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CecafeStore</title>

    <link rel="shortcut icon" href="/img/favicon.png" />

    <!-- Google Font -->
    <link th:href="@{'https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap'}" rel="stylesheet">

    <!-- Css Styles -->
    <link  href="/css/bootstrap.min.css" rel="stylesheet">
    <link  href="/css/font-awesome.min.css" rel="stylesheet">
    <link  href="/css/elegant-icons.css" rel="stylesheet">
    <link  href="/css/nice-select.css" rel="stylesheet">
    <link  href="/css/jquery-ui.min.css" rel="stylesheet">
    <link  href="/css/owl.carousel.min.css" rel="stylesheet">
    <link  href="/css/slicknav.min.css" rel="stylesheet" >
    <link  href="/css/style.css" rel="stylesheet" >
</head>

<body>

<div th:replace="~{fragments/headerFragment :: header}"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Escolha seu papel no sistema</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Início</a>
                        <span>Cadastro no sistema</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Escolha uma das duas opções</h4>
            <button style="width: 30%" type="submit" class="site-btn">
                <a style="color: white" href="/produtor/form-produtor">Sou um produtor</a>
            </button>
            <button style="width: 30%" type="submit" class="site-btn">
                <a style="color: white" href="/comprador/form-comprador">Sou um consumidor</a>
            </button>
        </div>
    </div>
</section>
<!-- Checkout Section End -->

<div th:replace="~{fragments/footerFragment :: footer}"></div>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.mask.js"></script>
<script src="/js/main.js"></script>
</body>

</html>