<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CecafeStore</title>

    <link rel="shortcut icon" href="/img/favicon.png" />

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap}" rel="stylesheet">

    <!-- Css Styles -->
    <link  href="/css/bootstrap.min.css" rel="stylesheet">
    <link  href="/css/font-awesome.min.css" rel="stylesheet">
    <link  href="/css/elegant-icons.css" rel="stylesheet">
    <link  href="/css/nice-select.css" rel="stylesheet">
    <link  href="/css/jquery-ui.min.css" rel="stylesheet">
    <link  href="/css/owl.carousel.min.css" rel="stylesheet">
    <link  href="/css/slicknav.min.css" rel="stylesheet" >
    <link  href="/css/style.css" rel="stylesheet" >

</head>

<body>

<div th:replace="~{fragments/headerFragment :: header}"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Cadastro de comprador</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Início</a>
                        <span>Cadastro de comprador</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Preencha os campos</h4>
            <form th:method="POST" th:action="@{/comprador/cadastrar}" th:object="${comprador}">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkout__input">
                                    <p>Nome Completo<span>*</span></p>
                                    <input th:field="*{nome}" type="text" required>
                                    <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="checkout__input">
                                    <p>CPF<span>*</span></p>
                                    <input data-mask="000.000.000-00" data-mask-selectonfocus="true" th:field="*{cpf}" type="text" required>
                                    <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkout__input">
                                    <p>Contato<span>*</span></p>
                                    <input data-mask="(00) 0 0000-0000" data-mask-selectonfocus="true" placeholder="(DD) 0000-0000" th:field="*{contato}" type="text" required>
                                    <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('contato')}" th:errors="*{contato}"></p>
                                </div>
                            </div>

                        </div>
                        <div class="checkout__input">
                            <p>Endereço<span>*</span></p>
                            <input th:field="*{endereco.cidade}" type="text" placeholder="Cidade" class="checkout__input__add" required>
                            <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('endereco.cidade')}" th:errors="*{endereco.cidade}"></p>
                            <input th:field="*{endereco.rua}" type="text" placeholder="Rua" class="checkout__input__add" required>
                            <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('endereco.rua')}" th:errors="*{endereco.rua}"></p>
                            <input th:field="*{endereco.bairro}" type="text" placeholder="Bairro" class="checkout__input__add" required>
                            <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('endereco.bairro')}" th:errors="*{endereco.bairro}"></p>
                            <input th:field="*{endereco.numero}" type="number" placeholder="Número" class="checkout__input__add" required>
                            <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('endereco.numero')}" th:errors="*{endereco.numero}"></p>
                            <input th:field="*{endereco.estado}" type="text" placeholder="Estado" class="checkout__input__add" required>
                            <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('endereco.estado')}" th:errors="*{endereco.estado}"></p>
                            <input data-mask="00.000-000" data-mask-selectonfocus="true" th:field="*{endereco.cep}" type="text" placeholder="CEP" class="checkout__input__add" required>
                            <p th:style="${'color:red;'}" th:if="${#fields.hasErrors('endereco.cep')}" th:errors="*{endereco.cep}"></p>
                            <input th:field="*{endereco.complemento}" type="text" placeholder="Complemento" class="checkout__input__add">
                        </div>
                        <div class="checkout__input">
                            <p>Crendenciais de acesso<span>*</span></p>
                            <input th:field="*{user.username}" type="text" placeholder="Login" class="checkout__input__add" required>
                            <input th:field="*{user.password}" type="password" placeholder="Senha" class="checkout__input__add" required>
                            <input type="password" placeholder="Confirmação de senha" class="checkout__input__add" required>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                <li>Vegetable’s Package <span>$75.99</span></li>
                                <li>Fresh Vegetable <span>$151.99</span></li>
                                <li>Organic Bananas <span>$53.99</span></li>
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>$750.99</span></div>
                            <div class="checkout__order__total">Total <span>$750.99</span></div>
                            <div class="checkout__input__checkbox">
                                <label for="acc-or">
                                    Create an account?
                                    <input type="checkbox" id="acc-or">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                            <div class="checkout__input__checkbox">
                                <label for="payment">
                                    Check Payment
                                    <input type="checkbox" id="payment">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="paypal">
                                    Paypal
                                    <input type="checkbox" id="paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->

<div th:replace="~{fragments/footerFragment :: footer}"></div>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.mask.js"></script>
<script src="/js/main.js"></script>
</body>

</html>