<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CecafeStore</title>

    <link rel="shortcut icon" href="/img/favicon.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link  href="/css/bootstrap.min.css" rel="stylesheet">
    <link  href="/css/font-awesome.min.css" rel="stylesheet">
    <link  href="/css/elegant-icons.css" rel="stylesheet">
    <link  href="/css/nice-select.css" rel="stylesheet">
    <link  href="/css/jquery-ui.min.css" rel="stylesheet">
    <link  href="/css/owl.carousel.min.css" rel="stylesheet">
    <link  href="/css/slicknav.min.css" rel="stylesheet" >
    <link  href="/css/style.css" rel="stylesheet" >
    <style>
        .activePage {
            background-color: #7fad39;
            color: #ffffff;
        }
    </style>
</head>

<body>
<div th:replace="~{fragments/headerFragment :: header(page = 'pedido')}"></div>

<!-- Breadcrumb Section Begin -->
<section id="breadcumb" class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Gerencia de pedidos</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Início</a>
                        <span>Lista de pedidos realizados</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="float: right">
                        <div class="hero__search">
                            <div class="hero__search__form">
                                <form method="get" id="busca-pedido-form">
                                    <input id="busca-pedido-input" type="text" placeholder="Informe o número do pedido">
                                    <button id="busca-pedido-button" class="site-btn">FILTRAR</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Número</th>
                                    <th>Comprador</th>
                                    <th>Preço</th>
                                    <th>Endereço</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="pedido : ${pedidoPage.content}">
                                <td class="col-1">
                                    <h5 th:text="${pedido.status}"></h5>
                                </td>
                                <td class="col-2">
                                    <h5 th:text="${pedido.numero}"></h5>
                                </td>
                                <td class="col-3">
                                    <span th:text="${pedido.comprador.nome + '/' + pedido.comprador.contato}"></span>
                                </td>
                                <td class="col-1">
                                    <span th:text="${'R$ '+pedido.valorPedido}"></span>
                                </td>
                                <td class="col-4">
                                    <span th:text="${'Rua: ' + pedido.endereco.rua + ' - ' + pedido.endereco.numero}"></span>
                                    <span th:text="${'Bairro: ' + pedido.endereco.bairro }"></span>
                                    <span th:text="${'Cidade: ' + pedido.endereco.cidade }"></span>
                                    <span th:text="${'CEP: ' + pedido.endereco.cep }"></span>
                                </td>
                                <td class="col-1">
                                    <a title="Detalhes" th:href="@{'/pedido/' + ${pedido.id}}"><i class="fa fa-book"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${pedidoPage.totalPages > 0}" class="product__pagination"
                          style="display: flex; flex-wrap: wrap; width: fit-content;">
                        <a th:if="${!pedidosEmAberto}" th:each="pageNumber : ${pageNumbers}" th:href="@{/pedido/pedidos(size=${pedidoPage.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==pedidoPage.number + 1} ? activePage"></a>
                        <a th:if="${pedidosEmAberto}" th:each="pageNumber : ${pageNumbers}" th:href="@{/pedido/pedidos-em-aberto(size=${pedidoPage.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==pedidoPage.number + 1} ? activePage"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Shoping Cart Section End -->

<div th:replace="~{fragments/footerFragment :: footer}"></div>
<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js" rel="script"></script>
<script src="/js/bootstrap.min.js" rel="script"></script>
<script src="/js/jquery.nice-select.min.js" rel="script"></script>
<script src="/js/jquery-ui.min.js" rel="script"></script>
<script src="/js/jquery.slicknav.js" rel="script"></script>
<script src="/js/mixitup.min.js" rel="script"></script>
<script src="/js/owl.carousel.min.js"rel="script"></script>
<script src="/js/jquery.mask.js" rel="script"></script>
<script src="/js/main.js" rel="script"></script>
<script>
    $(document).ready(function(){
        $('html, body').animate({
            scrollTop: $("#breadcumb").offset().top
        }, 500);
    });

    document.getElementById('busca-pedido-button').addEventListener('click', (e) => {
        e.preventDefault();
        const value = document.getElementById('busca-pedido-input').value
        window.location.href = "/pedido/busca-pedido?numero=" + value;
    });
</script>
</body>
</html>