<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CecafeStore</title>

    <link rel="shortcut icon" href="/img/favicon.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link  href="/css/bootstrap.min.css" rel="stylesheet">
    <link  href="/css/font-awesome.min.css" rel="stylesheet">
    <link  href="/css/elegant-icons.css" rel="stylesheet">
    <link  href="/css/nice-select.css" rel="stylesheet">
    <link  href="/css/jquery-ui.min.css" rel="stylesheet">
    <link  href="/css/owl.carousel.min.css" rel="stylesheet">
    <link  href="/css/slicknav.min.css" rel="stylesheet" >
    <link  href="/css/style.css" rel="stylesheet" >
</head>

<body>
<div th:replace="~{fragments/headerFragment :: header}"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Produtos escolhidos</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Início</a>
                        <span>Lista de produtos escolhidos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">

        <form id="formCarrinho" method="post" th:action="@{/pedido}" th:object="${pedido}">
            <input type="hidden" th:field="${pedido.numero}">
            <input type="hidden" th:field="${pedido.comprador.id}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="produto, stat : ${pedido.produtos}">
                                <input type="hidden" th:field="${pedido.produtos[__${stat.index}__].id}">
                                <td class="shoping__cart__item">
                                    <img src="/img/cart/cart-1.jpg" alt="">
                                    <h5 th:text="${produto.nome}"></h5>
                                </td>
                                <td class="shoping__cart__price">
                                    <span th:text="${'R$'+produto.preco+'/'+produto.unidadeMedida}"></span>
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input class="input-quantidade" th:field="${pedido.produtos[__${stat.index}__].quantidade}" type="text" value="1">
                                            <p style="display: none;" th:text="${produto.preco}"></p>
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    <span class="valorTotalProduto" th:text="${'R$ '+produto.getPreco()}"></span>
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">

    <!--            <div class="col-lg-6">-->
    <!--                <div class="shoping__continue">-->
    <!--                    <div class="shoping__discount">-->
    <!--                        <h5>Código de desconto</h5>-->
    <!--                        <form action="#">-->
    <!--                            <input type="text" placeholder="Enter your coupon code">-->
    <!--                            <button type="submit" class="site-btn">USAR CUPOM</button>-->
    <!--                        </form>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Total dos produtos</h5>
                        <ul>
                            <li>Subtotal <span class="subTotal">R$ 0</span></li>
                            <li>Total <span class="valorTotalPedido" >R$ 0</span></li>
                        </ul>
                        <button type="submit" class="primary-btn">FINALIZAR PEDIDO</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</section>
<!-- Shoping Cart Section End -->

<div th:replace="~{fragments/footerFragment :: footer}"></div>
<!-- Js Plugins -->



<script src="/js/jquery-3.3.1.min.js" rel="script"></script>
<script src="/js/bootstrap.min.js" rel="script"></script>
<script src="/js/jquery.nice-select.min.js" rel="script"></script>
<script src="/js/jquery-ui.min.js" rel="script"></script>
<script src="/js/jquery.slicknav.js" rel="script"></script>
<script src="/js/mixitup.min.js" rel="script"></script>
<script src="/js/owl.carousel.min.js"rel="script"></script>
<script src="/js/jquery.mask.js" rel="script"></script>
<script src="/js/main.js" rel="script"></script>

<script>
    var formatter = new Intl.NumberFormat('pt-BR', {
        style: 'currency',
        currency: 'BRL',
    });


    $( document ).ready(function() {
        $('.input-quantidade').val('1');
        alterarValoresTotais()

        $('.input-quantidade').change(function() {
            let valorUnitario = $(this).next().text();
            valorUnitario = valorUnitario.replace(',', '.');

            let valorFinalAdicao = parseFloat(valorUnitario) * $(this).val();
            valorFinalAdicao = formatter.format(valorFinalAdicao);

            let campoTotalProduto = $(this).closest('td').next().find('.valorTotalProduto');
            campoTotalProduto.text(valorFinalAdicao)
            alterarValoresTotais()
        });

    });

    function alterarValoresTotais(){
        let valor = 0;
        $('.valorTotalProduto').each(function() {
            let valorString = $(this).text().substr(3);
            valorString = parseFloat(valorString);
            valor += valorString;
        });
        valor = formatter.format(valor);

        $('.valorTotalPedido').text(valor);
        $('.subTotal').text(valor);
    }
</script>


</body>

</html>