<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CecafeStore</title>

    <link rel="shortcut icon" href="/img/favicon.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style>
        .activePage {
            background-color: #7fad39;
            color: #ffffff;
        }

        li a {
            cursor: pointer;
        }
    </style>
</head>

<body>
<div th:replace="~{fragments/headerFragment :: header(page = 'loja')}"></div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Loja de produtos</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Início</a>
                        <span>Loja</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Categorias</h4>
                        <ul class="featured__controls" style="text-align: left">
                            <li class="active" data-filter="*"><a>Todos</a></li>
                            <li data-filter=".Fruta"><a>Fruta</a></li>
                            <li data-filter=".Verdura"><a>Verdura</a></li>
                            <li data-filter=".Legume"><a>Legume</a></li>
                            <li data-filter=".Vegetal"><a>Vegetal</a></li>
                            <li data-filter=".Hortaliça"><a>Hortaliça</a></li>
                            <li data-filter=".Grãos"><a>Grãos</a></li>
                            <li data-filter=".Sementes"><a>Sementes</a></li>
                            <li data-filter=".Cultivos"><a>Cultivos</a></li>
                        </ul>
                    </div>
<!--                    <div class="sidebar__item">-->
<!--                        <h4>Preço</h4>-->
<!--                        <div class="price-range-wrap">-->
<!--                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"-->
<!--                                 data-min="0" data-max="10000">-->
<!--                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>-->
<!--                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>-->
<!--                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>-->
<!--                            </div>-->
<!--                            <div class="range-slider">-->
<!--                                <div class="price-input">-->
<!--                                    <input type="text" id="minamount">-->
<!--                                    <input type="text" id="maxamount">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="sidebar__item sidebar__item__color&#45;&#45;option">-->
<!--                        <h4>Colors</h4>-->
<!--                        <div class="sidebar__item__color sidebar__item__color&#45;&#45;white">-->
<!--                            <label for="white">-->
<!--                                White-->
<!--                                <input type="radio" id="white">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="sidebar__item__color sidebar__item__color&#45;&#45;gray">-->
<!--                            <label for="gray">-->
<!--                                Gray-->
<!--                                <input type="radio" id="gray">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="sidebar__item__color sidebar__item__color&#45;&#45;red">-->
<!--                            <label for="red">-->
<!--                                Red-->
<!--                                <input type="radio" id="red">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="sidebar__item__color sidebar__item__color&#45;&#45;black">-->
<!--                            <label for="black">-->
<!--                                Black-->
<!--                                <input type="radio" id="black">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="sidebar__item__color sidebar__item__color&#45;&#45;blue">-->
<!--                            <label for="blue">-->
<!--                                Blue-->
<!--                                <input type="radio" id="blue">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="sidebar__item__color sidebar__item__color&#45;&#45;green">-->
<!--                            <label for="green">-->
<!--                                Green-->
<!--                                <input type="radio" id="green">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="sidebar__item">-->
<!--                        <h4>Popular Size</h4>-->
<!--                        <div class="sidebar__item__size">-->
<!--                            <label for="large">-->
<!--                                Large-->
<!--                                <input type="radio" id="large">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="sidebar__item__size">-->
<!--                            <label for="medium">-->
<!--                                Medium-->
<!--                                <input type="radio" id="medium">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="sidebar__item__size">-->
<!--                            <label for="small">-->
<!--                                Small-->
<!--                                <input type="radio" id="small">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="sidebar__item__size">-->
<!--                            <label for="tiny">-->
<!--                                Tiny-->
<!--                                <input type="radio" id="tiny">-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Produtos</h2>
                    </div>
                    <div cass="row">
                        <dilv class="product__discount__slider owl-carousel">
                            <div class="col-lg-4" th:each="produto : ${produtos}">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         th:data-setbg="'/img/product/details/' + ${produto.getFotoUrl()}">
                                        <input class="produtoId" type="hidden" th:value="${produto.id}" />
<!--                                        <div class="product__discount__percent">-20%</div>-->
                                        <ul class="product__item__pic__hover">
<!--                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                                            <li><a th:href="@{'/shop/' + ${produto.id}}"><i class="fa fa-info-circle"></i></a></li>
                                            <li><a sec:authorize="hasAnyAuthority('COMPRADOR', 'ADMIN')" onclick="addCart(this)" class="add-carrinho"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span th:text="${produto.getCategoria()}"></span>
                                        <h5><a th:text="${produto.getNome()}" th:href="@{'/shop/' + ${produto.getId()}}">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price" th:text="'R$' + ${produto.getPreco()}">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-2.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Vegetables</span>
                                        <h5><a href="#">Vegetables’package</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-3.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Mixed Fruitss</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-4.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-5.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-6.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </dilv>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Listagem</span>
                                <select>
                                    <option value="0">Todos</option>
                                    <option value="0">Recentes</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span th:text="${produtos.size()}"></span> Produtos encontrados</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row featured__filter">
                    <div class="col-lg-4 col-md-6 col-sm-6 mix"  th:each="produto: ${produtoPage.content}" th:class="'col-lg-4 col-md-6 col-sm-6 mix ' + ${produto.getCategoria()}">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" th:data-setbg="'/img/product/details/' + ${produto.getFotoUrl()}">
                                <input class="produtoId" type="hidden" th:value="${produto.id}" />
                                <ul class="product__item__pic__hover">
<!--                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
                                    <li><a th:href="@{'/shop/' + ${produto.id}}"><i class="fa fa-info-circle"></i></a></li>
                                    <li><a sec:authorize="hasAnyAuthority('COMPRADOR', 'ADMIN')" onclick="addCart(this)" class="add-carrinho"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a th:href="@{'/shop/' + ${produto.id}}" th:text="${produto.getNome()}"></a></h6>
                                <h5 th:text="'R$' + ${produto.getPreco()}"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${produtoPage.totalPages > 0}" class="product__pagination"
                     style="display: flex; flex-wrap: wrap; width: fit-content;">
                    <a th:each="pageNumber : ${pageNumbers}" th:href="@{/loja(size=${produtoPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==produtoPage.number + 1} ? activePage"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<div th:replace="~{fragments/footerFragment :: footer}"></div>

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>
<script>
    function addCart(e) {
        const baseurl = window.location.origin;
        const idProduto = e.parentElement.parentElement.parentElement.firstChild.nextSibling.value
        $.ajax({
            url : baseurl+"/add-item/"+idProduto,
            type : 'get',
            success: function (response){
                Swal.fire({
                    icon: 'success',
                    title: 'Produto Adicionado',
                    text: 'O produto foi adicionado ao seu carrinho!',
                })
            },
            error: function (xhr, textStatus, error){
                console.log(xhr)
                Swal.fire({
                    icon: 'error',
                    title: 'Ooops...',
                    text: 'Houve um problema interno e o produto não pôde ser adicionado ao carrinho',
                })
            }
        });

        countQtdeProdutos();
    }
</script>
</html>