# #Workflow name
# name: CI/CD Pipeline
on:
  #Manually trigger workflow runs
  workflow_dispatch:
  #Trigger the workflow on push from the main branch
  push:
    branches:
      - master
jobs:
  #Test's job
#   tests:
#     name: Unit tests
#     #Run on Ubuntu using the latest version
#     runs-on: ubuntu-latest
#     #Job's steps
#     steps:
#       #Check-out your repository under $GITHUB_WORKSPACE, so your workflow can access it
#       - uses: actions/checkout@v1
#       #Set up JDK 11
#       - name: Set up JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: '11'
#       #Set up Maven cache
#       - name: Cache Maven packages
#         #This action allows caching dependencies and build outputs to improve workflow execution time.
#         uses: actions/cache@v1
#         with:
#           path: ~/.m2
#           key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
#           restore-keys: ${{ runner.os }}-m2
#       #Run Tests
#       - name: Run Tests
#         run: mvn -B test
  
  #Build's job
  build:
    #Depends on sonar's job
#     needs: tests
    name: Build
    #Run on Ubuntu using the latest version
    runs-on: ubuntu-latest
    steps:
      #Check-out your repository under $GITHUB_WORKSPACE, so your workflow can access it
      - uses: actions/checkout@v1
      #Set up JDK 11
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      #Set up Maven cache
      - name: Cache Maven packages
        #This action allows caching dependencies and build outputs to improve workflow execution time.
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      #Build the application using Maven
      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml 
        
      #Build the application using Maven
      - name: Upload JAR
        #This uploads artifacts from your workflow allowing you to share data between jobs and store data once a workflow is complete.
        uses: actions/upload-artifact@v2
        with:
          #Set artifact name
          name: artifact
          #From this path
          path: target/cecafes-0.0.1-SNAPSHOT.jar
  #Deploy's job
  deploy:
    needs: build
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v1
        
      - uses: actions/download-artifact@master
        with:
          name: artifact
          path: target/cecafes-0.0.1-SNAPSHOT.jar

      - name: Deploy to AWS
        run: |
          rm -f aux_temp.pem
          echo "${{ secrets.SSH_KEY }}" >> aux_temp.pem
          chmod 400 aux_temp.pem
          ssh -o stricthostkeychecking=no -i aux_temp.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} 'sudo systemctl stop cecafestore.service'
          scp -o stricthostkeychecking=no -i aux_temp.pem -v ./target/cecafes-0.0.1-SNAPSHOT.jar ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/ubuntu/cecafestore/target
          ssh -o stricthostkeychecking=no -i aux_temp.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} 'sudo systemctl restart cecafestore.service'
        
